.image-button {
  width: 200px;
  height: 50px;
  background-color: bisque;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.5;
  position: absolute;
  top: calc(50% -25px);
  left: calc(50% - 100px);
}

.image-button:hover {
  opacity: 1;
  cursor: pointer;
}

.image {
  margin: 0 auto;
  display: block;
}
