* {
  box-sizing: border-box;
}

.image-container {
}

.main-img {
  display: block;
  border-radius: 20px;
  max-width: 100%;
  margin: 50px auto;
}

.gallery {
  display: flex;
}

figcaption {
  line-height: 30px;
  text-align: center;
  text-transform: lowercase;
}

.card {
  margin: 16px;
  box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
}

.first-img {
  filter: opacity(50%);
}

.second-img {
  filter: blur(4px);
}

.third-img {
  filter: invert(100%);
}
